@font-face {
  font-family: "Recursive";
  font-weight: 300 900;
  src: url("../fonts/recursive-MONO_CASL_wght_slnt_ital--full_gsub--2019_11_30-20_07.woff2");
}
@font-face {
  font-family: "BandeinsStrange";
  font-weight: 300 900;
  src: url("../fonts/BandeinsStrangeVariableGX.ttf");
}
@font-face {
  font-family: "BandeinsSans";
  font-weight: 300 900;
  src: url("../fonts/BandeinsSansVariableGX.ttf");
}
@font-face {
  font-family: "Hela";
  font-weight: 300 900;
  src: url("../fonts/HelaBasicGX.ttf");
}
@font-face {
  font-family: "Movement";
  font-weight: 300 900;
  src: url("../fonts/MovementV.ttf");
}

body {
  /* font-family: "Recursive", sans-serif; */
  background-color: rgb(250, 250, 250);
  padding: 20px;
}

.header_interface {
  position: fixed;
  z-index: 99997;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  transition: 0.5s ease;
}
.header_interface.heightShow {
  /* bottom: 86%; */
  height: 140px;
  transition: 0.5s ease;
}
.header_interface .block:nth-child(1),
.header_interface .block:nth-child(2),
.header_interface .block:nth-child(3),
.header_interface .block:nth-child(4) {
  border-right: 1px solid black;
}
.header_interface .block:nth-child(5) {
  border: 0;
}
.header_interface .block {
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header_interface .block input {
  background-color: white;
  /* border: 1px solid black; 
  width: 80%; */
  /*  */
  border: 1px solid black;
  border-left: 0px solid black;
  border-right: 0px solid black;
  width: 100%;
  /*  */
  height: 35px;
  margin: 2px 0;
  padding: 5px;
  box-sizing: border-box;
}

.header_interface .block button {
  background-color: white;
  /* border: 1px solid black; 
  width: 80%; */
  /*  */
  border: 1px solid black;
  border-left: 0px solid black;
  border-right: 0px solid black;
  width: 100%;
  /*  */
  height: 35px;
  margin: 2px 0;
  padding: 5px;
  box-sizing: border-box;
  transition: 0.3s ease;
  cursor: pointer;
}
.header_interface button:hover {
  background-color: black;
  color: white;
}

.header_interface button.active {
  background-color: black;
  color: white;
}

.header_interface .block button:focus,
.header_interface .block input:focus {
  outline: none;
}

.block.title h1 {
  text-align: center;
  font-size: 28px;
  line-height: 28px;
}

.controls_component {
  width: 100%;
}

.block.font_parameters {
  overflow-y: scroll;
}

.info_section {
  opacity: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  z-index: 99999;

  left: 0;
  bottom: 0;
  height: 0px;
  width: 100%;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  transition: 0.3s ease;
}

.info_section.heightShow {
  opacity: 1;
  /* top: 80%; */
  height: 180px;
}

.info_section .block {
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.info_section .block p {
  width: 80%;
  margin: 2px 0;
  padding: 5px;
  box-sizing: border-box;
}

.info_section .block:nth-child(1),
.info_section .block:nth-child(2),
.info_section .block:nth-child(3),
.info_section .block:nth-child(4) {
  border-right: 1px solid black;
}
.info_section .block:nth-child(5) {
  border: 0;
}

.gallery_section {
  overflow-x: hidden;
  position: fixed;
  z-index: 99998;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  background-color: white;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  transition: 0.5s ease;
}

.gallery_section.widthShow {
  width: 80%;
  transition: 0.5s ease;
}

.gallery_section .images_wrap {
  width: 100%;
  text-align: center;
}

.gallery_section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.gallery_section li {
  margin: 40px;
  padding: 0;
}

#menuToggle {
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  cursor: pointer;
  z-index: 9999;
}
#menuToggle.hidden {
  display: none;
}
#menuToggle.show {
  display: block;
}

.header_interface.hidden {
  transform: translateY(-100%);
  transition: 0.3s ease;
}

.header_interface.show {
  transform: translateY(-0%);
  transition: 0.3s ease;
}
.header_interface.hidden .block {
  flex-direction: row;
  height: 61px;
}

#singleFile {
  color: #454545;
}

#singleFile .ccs-row {
  display: grid;
  grid-template-columns: 196px 196px auto;
  column-gap: 1rem;
}

#singleFile #controls-result {
  background: white;
  color: black;
  font-size: 12vw;
  font-weight: 800;
  line-height: 1.125;
  border: 0px;
  min-height: 50vh;
  font-weight: 800;
  font-family: "RecVF", sans-serif;
  font-variation-settings: "MONO" 0.01, "CASL" 0.01, "slnt" 0, "ital" 0,
    "wght" 800;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  display: grid;
  align-content: center;
  overflow-x: auto;
  max-width: 100vw;
}

#singleFile fieldset {
  border: none;
  padding: 0;
}
#singleFile input[type="radio"] {
  margin: 0;
}
#singleFile .controls {
  background-color: var(--offwhite-1);
  width: 100%;
  font-family: "RecVF", monospace;
  font-weight: 450;
  overflow: hidden !important;
  padding: calc(var(--padding-unit) * 2);
  display: grid;
  --mono: 1;
  font-variation-settings: "MONO" var(--mono);
  line-height: 2em;
}

#singleFile .controls .css,
#singleFile .controls .inputs {
  display: inline-block;
}
#singleFile .controls .inputs {
  width: 100%;
}

#singleFile .controls .radio {
  border: 1px solid #bdbdbd;
  width: 12px;
  height: 12px;
  border-radius: 999px;
  display: inline-block;
  cursor: pointer;
}

#singleFile .controls .radio.active {
  background-color: #bdbdbd;
}
#singleFile .controls ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}
#singleFile .controls li {
  display: block;
}

#singleFile .controls .property {
  color: #c2404c;
}
#singleFile .controls .custom-prop {
  color: #1fa87a;
}
#singleFile .controls .value {
  color: #494949;
}
#singleFile .controls .string {
  color: #0050ff;
}
#singleFile .controls span.comment {
  font-variation-settings: "MONO" 1, "slnt" -12, "ital" 1;
  color: #858585;
}

#title {
  font-size: 1.3em;
  text-align: center;
}

#reviewForm {
  text-align: center;
  margin-top: 1.5em;
}

#reviewForm #review {
  width: 23em;
  border-radius: 3em;
  padding: 1em;
}

#reviewForm #review:focus {
  border-color: #00367c;
  box-shadow: 2em;
  outline: none;
}

#emojiSection {
  text-align: center;
}

/* .page {
  position: relative;
} */
.page:focus {
  outline: none;
}
.file {
  margin-top: 24px;
  font-weight: bold;
}
.text {
  /* border-style: solid;
  border-width: 1px; */
  padding: 20px;
}
.search_component {
  text-align: center;
}

body.text--test .text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
}

body.column_scrollLateral #page {
  column-count: 3;
  column-gap: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 100vh;
}

body.column_central #page {
  width: 45%;
  margin: 0 auto;
}

#drop_zone {
  padding: 20px;
  border-style: dotted;
  width: 200px;
  text-align: center;
}
.redbg {
  background-color: rgba(231, 76, 60, 1);
}
.bluebg {
  background-color: rgba(52, 152, 219, 1);
}
.greenbg {
  background-color: rgba(46, 204, 113, 1);
}

/* #controls-result {
  font-variation-settings: "wght" 0, "CASL" 0, "slnt" 0, "MONO" 0,
    "ital" 0;
} */
.editable {
  border: 1px solid red;
}
/* .controls_component {
  /*text-align: center;
} */
.controls {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  background: #fff;
  border-bottom: 1px solid black;
  height: auto;
  left: 0;
  right: 0;
  z-index: 99994 !important;
  top: 0%;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.4s ease;
}
.controls--visible {
  display: block;
  top: 140px;
  transform: scaleY(1);
  visibility: visible;
  pointer-events: auto;
}

.controls input {
  background-color: white;
  border: 1px solid black;
  height: 35px;
  padding: 5px;
  margin-right: 10px;
  box-sizing: border-box;
}

.controls button {
  background-color: white;
  border: 1px solid black;
  height: 35px;
  padding: 5px 15px;
  margin-right: 15px;
  box-sizing: border-box;
  transition: 0.3s ease;
  cursor: pointer;
}
.controls button:hover {
  background-color: black;
  color: white;
}

.controls button.active {
  background-color: black;
  color: white;
}

.controls input[type="range"] {
  -webkit-appearance: none;
  border: 0px solid black;
  padding-top: 16px;
}

.controls input[type="range"]:focus {
  outline: none;
}

.controls input[type="range"]::-webkit-slider-runnable-track {
  background: black;
  height: 3px;
}

.controls input[type="range"]::-moz-range-track {
  background: black;
  height: 3px;
}
.controls input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: white;
  border: 1px solid black;
  margin-top: -6px;
  border-radius: 0%;
  cursor: pointer;
}

.controls input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background: white;
  border: 1px solid black;
  margin-top: -6px;
  border-radius: 0%;
  cursor: pointer;
}

.controls ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.controls li:nth-child(1) {
  width: 100%;
}
.controls li:nth-child(2) button,
.controls li:nth-child(3) button,
.controls li:nth-child(2) input,
.controls li:nth-child(3) input {
  height: 30px;
}

.controls li {
  display: inline-block;
  width: 20%;
  margin: 10px 0;
}

.header_interface .block .btn--active {
  background-color: black;
  color: white;
}

.contenteditable--active {
  color: #fff;
  border: solid 3px #000;
  background-color: #000;
  outline: none;
}

.controls .label {
  font-size: 12px;
  line-height: 16px;
}

.form-colorpicker {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 10px;
  border: 1px solid #000;
  z-index: 999999;
  opacity: 0;
  margin-top: 10vh;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  pointer-events: none;
}
.form-colorpicker--visible {
  opacity: 1;
  margin-top: -10vh;
  display: block;
  pointer-events: auto;
}
.settings-togglecolorpicker {
  position: absolute;
  top: 0;
  bottom: 3px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  transition: 0.2s ease;
}

.settings-togglecolorpicker:hover {
  border-radius: 0%;
}

.selected {
  background-color: red;
}

.match {
  color: pink;
  background-color: pink;
  text-decoration: underline;
}

.sticky {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: scroll;
  cursor: nw-resize;
  width: 100%;
}

.hide {
  display: none;
}

/*  */
/*  */

/*  */
/*  */

/*  */
/*  */

/*  */
/*  */

:root {
  --scenePerspective: 1;
  --scenePerspectiveOriginX: 50;
  --scenePerspectiveOriginY: 30;
  --itemZ: 2;
  --cameraSpeed: 150;
  --cameraZ: 0;
  --viewportHeight: 0;
}
.viewport {
  height: calc(var(--viewportHeight) * 1px);
}
.viewport .scene3D-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: calc(var(--scenePerspective) * var(--cameraSpeed) * 1px);
  perspective-origin: calc(var(--scenePerspectiveOriginX) * 1%)
    calc(var(--scenePerspectiveOriginY) * 1%);
  will-change: perspective-origin;
  transform: translate3d(0, 0, 0);
}
.viewport .scene3D-container .scene3D {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  transform-style: preserve-3d;
  transform: translateZ(calc(var(--cameraZ) * 1px));
  will-change: transform;
}
.viewport .scene3D-container .scene3D > section {
  position: absolute;
  display: block;
  top: 40%;
}

.viewport .scene3D-container .scene3D > section:nth-child(2n) {
  left: 0;
}
.viewport .scene3D-container .scene3D > section:nth-child(2n + 1) {
  right: 0;
}
.viewport .scene3D-container .scene3D > section:nth-child(0) {
  transform: translate3D(
    -6%,
    11%,
    calc(var(--itemZ) * var(--cameraSpeed) * 0 * -1px)
  );
}
.viewport .scene3D-container .scene3D > section:nth-child(1) {
  transform: translate3D(
    23%,
    18%,
    calc(var(--itemZ) * var(--cameraSpeed) * 1 * -1px)
  );
}
.viewport .scene3D-container .scene3D > section:nth-child(2) {
  transform: translate3D(
    -40%,
    20%,
    calc(var(--itemZ) * var(--cameraSpeed) * 2 * -1px)
  );
}
.viewport .scene3D-container .scene3D > section:nth-child(3) {
  transform: translate3D(
    30%,
    30%,
    calc(var(--itemZ) * var(--cameraSpeed) * 3 * -1px)
  );
}
.viewport .scene3D-container .scene3D > section:nth-child(4) {
  transform: translate3D(
    -9%,
    -8%,
    calc(var(--itemZ) * var(--cameraSpeed) * 4 * -1px)
  );
}
.viewport .scene3D-container .scene3D > section:nth-child(5) {
  transform: translate3D(
    -6%,
    11%,
    calc(var(--itemZ) * var(--cameraSpeed) * 5 * -1px)
  );
}
.viewport .scene3D-container .scene3D > section:nth-child(6) {
  transform: translate3D(
    23%,
    18%,
    calc(var(--itemZ) * var(--cameraSpeed) * 6 * -1px)
  );
}
.viewport .scene3D-container .scene3D > section:nth-child(7) {
  transform: translate3D(
    -40%,
    20%,
    calc(var(--itemZ) * var(--cameraSpeed) * 7 * -1px)
  );
}
.viewport .scene3D-container .scene3D > section:nth-child(8) {
  transform: translate3D(
    30%,
    30%,
    calc(var(--itemZ) * var(--cameraSpeed) * 8 * -1px)
  );
}
.viewport .scene3D-container .scene3D > section:nth-child(9) {
  transform: translate3D(
    -9%,
    -8%,
    calc(var(--itemZ) * var(--cameraSpeed) * 9 * -1px)
  );
}

.link {
  color: #fff;
  margin: 0;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}

.dragger {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px;
  background-color: red;
  cursor: pointer;
}

.fourwaysplitfix {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/* #results, #results_copy0, #results_copy1, #results_copy2 {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; }



 
#results{}
#results_copy2{}
#results_copy1{}
#results_copy{}   */

.hela_anim {
  animation: hela_anim 6000ms infinite both;
}

@keyframes hela_anim {
  0% {
    font-variation-settings: "wght" 100;
    /* font-size: 10vw; */
  }
  50% {
    font-variation-settings: "wght" 700;
    /* font-size: 11vw; */
  }

  0% {
    font-variation-settings: "wght" 100;
    /* font-size: 10vw; */
  }
}

.movement_anim {
  animation: movement_anim 6000ms infinite both;
}

@keyframes movement_anim {
  0% {
    font-variation-settings: "SPAC" 100, "wght" 100;
    /* font-size: 10vw; */
  }
  50% {
    font-variation-settings: "SPAC" 120, "wght" 900;
    /* font-size: 11vw; */
  }

  0% {
    font-variation-settings: "SPAC" 100, "wght" 100;
    /* font-size: 10vw; */
  }
}

.bandeinsS_anim {
  animation: bandeinsS_anim 6000ms infinite both;
}

@keyframes bandeinsS_anim {
  0% {
    font-variation-settings: "wdth" 100, "wght" 300;
    /* font-size: 10vw; */
  }
  50% {
    font-variation-settings: "wdth" 800, "wght" 700;
    /* font-size: 11vw; */
  }

  0% {
    font-variation-settings: "wdth" 100, "wght" 300;
    /* font-size: 10vw; */
  }
}

.recursive_anim {
  animation: recursive_anim 6000ms infinite both;
}

@keyframes recursive_anim {
  0% {
    font-variation-settings: "wght" 100, "wdth" 100;
    /* font-size: 10vw; */
  }
  50% {
    font-variation-settings: "wght" 500, "wdth" 900;
    /* font-size: 11vw; */
  }

  0% {
    font-variation-settings: "wght" 100, "wdth" 100;
    /* font-size: 10vw; */
  }
}

/* .recursive_anim {
  animation: recursive_anim 6000ms infinite both;
}

@keyframes recursive_anim {
  0% {
      font-variation-settings: 'wght' 1, 'CASL' 1, 'slnt' 1, 'MONO' 1, 'ital' 1;
  }
  50% {
      font-variation-settings: "wght" 500 ,'wdth' 900;
  }
  
  0% {
      font-variation-settings: "wght" 100  ,'wdth' 100;
  }
} */
